.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: $primary;

  .links a {
    color: $white;
    font-weight: bold;

    &:hover {
      color: $secondary;
    }
  }
}
