.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $primary;
  z-index: 100;

  .logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;

    h2 {
      // magic number don't touch
      margin: 7px 10px 0;
      font-family: $comfortaa;
      font-weight: $black;
      color: $white;
      text-decoration: none;
    }
  }

  .right-nav {
    .cart-icon {
      color: $white;
      font-weight: bold;
      transition: all 0.25s;

      i {
        font-size: 2em;
      }

      .cart-count {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.5em;
        width: 1.5em;
        position: absolute;
        bottom: 10px;
        right: 8px;
        background: $secondary;
        border-radius: 1.25em;
        border: $white solid 2px;
        transition: all 0.25s;
      }

      &:hover {
        color: $secondary;
        text-decoration: none;

        .cart-count {
          background-color: $primary;

          span {
            color: $white;
          }
        }
      }
    }
  }
}
