<nav class="navbar">
  <a class="logo-link" href="/">
    <img class="logo" src="/images/burger-logo.png" alt="Burgers&Friends Logo" width="50">
    <h2>Burgers&Friends</h2>
  </a>
  <div class="right-nav">
    <a href="/cart" class="cart-icon">
      <i class="fas fa-shopping-cart"></i>
      <% if (cartCount) { %>
        <div class="cart-count">
          <span><%= cartCount %></span>
        </div>
      <% } %>
    </a>
  </div>
</nav>
