<!DOCTYPE html>
<html lang="en">
  <!-- Head tag -->
  <%- include('./partials/_head', { title: 'Orders Index'}) %>
  <body>
    <!-- Navbar -->
    <%- include('./partials/_nav') %>

    <!-- Error content -->
    <section id="error-page">
      <h1 class="">Whoa! You got an error dude.</h1>
      <h5>Error code:</h5>
      <p><%= errorMsg %></p>
      <a href="/" class="btn btn-primary">Return to home page</a>
    </section>
  </body>
</html>
