<!DOCTYPE html>
<html lang="en">

<%- include('partials/_head', { title: 'Home page'}) %>

<body>
  <!-- Site map -->
  <section id="site-map">
    <h1>Untitled Food Pickup App</h1>
    <h2>Pages</h2>
    <ul>
      <li><a href="/menu">Menu</a></li>
      <li><a href="/orders">Orders</a></li>
      <li><a href="/api/restaurants">Login</a></li>
    </ul>
  </section>
</body>

</html>
