<!DOCTYPE html>
<html lang="en">
<!-- Head tag -->
<%- include('partials/_head', { title: 'Home page'}) %>
  <body class="index-body">
    <!-- Navbar -->
    <%- include('partials/_nav') %>

    <!-- Site map -->
    <section class="index-container">
      <h1>Burgers&Friends Pickup App</h1>

      <img class="index-logo" src="/images/burger-logo.png" alt="Burgers&Friends Logo">

      <div class="index-buttons">

        <a href="/orders" class="index-view-orders"> View Orders </a>

        <a href="/menus" class="index-view-menu"> View Menu </a>

      <% if(restaurantId) { %>
          <form action="/api/restaurants/logout" method="POST"><button type="submit" class="btn btn-primary index-login-button">Logout</button>
        <% } else { %>
          <form action="/api/restaurants/login/1" method="POST"><button type="submit" class="btn btn-primary index-login-button">Login</button>
        <% } %>
      </div>


    </section>
  </body>
</html>
