<!DOCTYPE html>
<html lang="en">
  <!-- Head tag-->
  <%- include('../partials/_head', { title: 'Checkout' }) %>
  <body>
    <!-- Navbar-->
    <%- include('partials/_nav') %>

    <!-- Cart -->
    <h1>Your Cart</h1>

    <div class="shopping-cart">
      <div class="column-labels">
        <label class="product-image">Image</label>
        <label class="product-details">Product</label>
        <label class="product-price">Price</label>
        <label class="product-quantity">Quantity</label>
        <label class="product-removal">Remove</label>
        <label class="product-line-price">Total</label>
      </div>

      <div class="product">
        <div class="product-image">
          <img
            src="https://cdn.pixabay.com/photo/2021/02/15/11/43/hot-dog-6017568_1280.jpg"
          />
        </div>
        <div class="product-details">
          <div class="product-title">Hot dog</div>
          <div class="product-price">6.99</div>
          <div class="product-quantity">
            <input type="number" value="2" min="1" />
          </div>
          <div class="product-removal">
            <button class="remove-product">Remove</button>
          </div>
          <div class="product-line-price">13.98</div>
        </div>

        <div class="product">
          <div class="product-image">
            <img
              src="https://cdn.pixabay.com/photo/2014/10/19/20/59/hamburger-494706_1280.jpg"
            />
          </div>
          <div class="product-details">
            <div class="product-title">Hamburger</div>
          </div>
          <div class="product-price">11.99</div>
          <div class="product-quantity">
            <input type="number" value="1" min="1" />
          </div>
          <div class="product-removal">
            <button class="remove-product">Remove</button>
          </div>
          <div class="product-line-price">11.99</div>
        </div>

        <div class="totals">
          <div class="totals-item">
            <label>Subtotal</label>
            <div class="totals-value" id="cart-subtotal">25.97</div>
          </div>
          <div class="totals-item">
            <label>Tax (5%)</label>
            <div class="totals-value" id="cart-tax">1.30</div>
          </div>
          <div class="totals-item totals-item-total">
            <label>Total</label>
            <div class="totals-value" id="cart-total">20.00</div>
          </div>
        </div>

        <button class="checkout">Checkout</button>
      </div>
    </div>
  </body>
</html>
