<!DOCTYPE html>
<html lang="en">
  <!-- Head tag-->
  <%- include('../partials/_head', { title: 'Checkout' }) %>
  <body>
    <!-- Navbar-->
    <%- include('partials/_nav') %>

    <!-- Checkout form -->
    <h1>Checkout Information</h1>
    <div>
      <label for="name">Name</label>
      <input
        type="text"
        name="name"
        id="name"
        data-type="string"
        data-message="This field may not be empty"
      />
    </div>

    <div>
      <label for="Phone">Phone Number</label>
      <input
        type="text"
        name="Phone"
        id="Phone"
        data-type="expression"
        data-message="Not a valid phone number"
      />
    </div>
  </body>
</html>
