#menu-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: $full-nav-offset;

  img {
    position: relative;
    display: block;
    width: 750px;
    height: 520px;
    padding-right: 50px;

    @include for-md-down {
      width: 100%;
      height: auto;
      padding-right: 0;
      justify-self: top;
    }
  }

  .food-info {
    position: relative;
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 360px;
    height: 380px;
    padding: 50px;

    @include for-md-down {
      width: 100%;
      padding: 20px;
    }
  }

  @include for-md-down {
    display: block;
  }
}
