// Styles for the index page
// #site-map {
//   padding: 1em;
//   font-family: $comfortaa;

//   h1 {
//     font-weight: $black;
//   }

//   h2 {
//     margin-left: 0.5em;
//     font-family: $lato;
//   }

//   p {
//     margin-left: 0.5em;
//     margin-bottom: 0.75em;
//     font-weight: $semibold;
//     font-size: 2em;
//   }

//   a {
//     font-family: $lato;
//     color: black;

//     &:hover {
//       color: $primary;
//       text-decoration: none;
//     }
//   }

//   button {
//     padding: 0;
//     border: none;
//     background-color: transparent;
//     color: black;
//     font-family: $lato;

//     &:hover {
//       color: $primary;
//       cursor: pointer;
//     }
//   }
// }

.index-body {
  font-family: $comfortaa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: $full-h-nav-offset;
}

.index-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.index-logo {
  max-width: 100%;
  max-height: 100%;
  width: 200px;
  height: 200px;
}

.index-buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.index-view-orders {
  transition: 0.5s;
}

.index-view-menu {
  transition: 0.5s;
}

.index-view-orders:hover {
  text-decoration: none;
  font-size: large;
  color: $secondary;
}

.index-view-menu:hover {
  text-decoration: none;
  font-size: large;
  color: $secondary;
}

.index-login-button {
  transition: 0.5s;
}

.index-login-button:hover {
  color: $secondary;
  font-size: large;

}
