// Styles for the index page
.index-body {
  font-family: $comfortaa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.index-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.index-logo {
  max-width: 100%;
  max-height: 100%;
  width: 200px;
  height: 200px;
}

.index-buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.index-view-orders {
  transition: 0.5s;
}

.index-view-menu {
  transition: 0.5s;
}

.index-view-orders:hover {
  text-decoration: none;
  font-size: large;
  color: $secondary;
}

.index-view-menu:hover {
  text-decoration: none;
  font-size: large;
  color: $secondary;
}

.index-login-button {
  transition: 0.5s;
}

.index-login-button:hover {
  color: $secondary;
  font-size: large;

}
