#order-details {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .order-info {
    padding-left: 0;
    list-style: none;

    span {
      font-weight: bold;
    }
  }
}

#order-food {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 1.75em;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .order-food-card {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 20px 0;
    border-color: black;
    border-style: solid;
    box-shadow: 5px 10px #888888;
    color: black;

    img {
      float: left;
      margin-right: 15px;
    }

    div:nth-child(2n) {
      float: left;
    }

    p, h4 {
      margin: 15px 0;
      text-transform: capitalize;
    }
  }

  .order-total {
    margin-right: 20px;
    text-align: right;

    span {
      margin-right: 10px;
      font-weight: bold;
    }
  }
}

#order-confirm-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    margin-top: 10px;

    div {
      float: right;
      width: 50%;

      @include for-lg-down {
        width: 75%;
      }

      @include for-md-down {
        width: 100%;
      }
    }

    label {
      font-weight: bold;
    }

    button {
      float: right;
      margin: 10px 0;
      padding: 7px 30px;
      background-color: $primary;
      color: $white;
      font-weight: bold;

      &:hover {
        background-color: darken($primary, 10%);
      }
    }
  }
}

