// Colour variables

// Custom colour palette
$primary: #0aa3ad;
$secondary: #ed9e17;
$lightgrey: #8E8A85;
$white: #FFFFFF;
$black: #000000;
$darkgrey: #545149;
$success: #0fcf37;
$danger: #ed4848;

// Bootstrap default colours
$dark: #343a40;
$facebook: #3b5998;
$twitter: #55acee;
$linkedin: #007bb5;
$gmail: #dd5347;
$whatsapp: #12af0a;
