/***************************************
  Font Variables
***************************************/

// Font Families
$comfortaa: 'Comfortaa', Arial, sans-serif;
$lato: 'Lato', Arial, sans-serif;

// Font weight helpers
$thin: 100;
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;
$black: 900;

/***************************************
  Helper Variables
***************************************/

// Full viewport height with an offset for the nav height
$full-h-nav-offset: calc(100vh - 66px);

// Drop shadow used throughout site
$drop-shadow: 5px 10px #888888;

$sick-background-gradient: linear-gradient(
  227deg,
  rgba(163, 208, 219, 1) 0%,
  rgba(163, 176, 219, 1) 20%,
  rgba(163, 173, 219, 1) 34%,
  rgba(163, 219, 208, 1) 59%,
  rgba(163, 208, 219, 1) 74%,
  rgba(163, 208, 219, 1) 100%
);
