// Colour variables

// Custom color palette
$primary: #4056A1;
$secondary: #EBBB37;
$lightgrey: #8E8A85;
$white: #FFFFFF;
$black: #000000;
$darkgrey: #545149;

// Bootstrap defaults
$success: #3e8d63;
$danger: #D61A1A;
$dark: #343a40;
$facebook: #3b5998;
$twitter: #55acee;
$linkedin: #007bb5;
$gmail: #dd5347;
$whatsapp: #12af0a;

// Font variables
